.Schedule {
  display: block;
  width: 100%;
  margin: -1px auto;
}
#link {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  width: 100%;
}
#footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
#date {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
#lessions {
  padding: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 65vh;
  border: 1px solid white;
}
.pair {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
}
.auditoriumOfPair {
  padding: 0px;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  border: 1px solid white;
}
#textOfAuditorium {
  font-size: large;
}
.infoOfPair {
  border: 1px solid white;
}
.nameOfPair {
  padding: 0px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  border: 1px solid white;
}
#infoOfSubGroups {
  display: flex;
  flex-direction: column;
}
.infoOfSingleSubGroup {
  padding: 0px;
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  align-items: center;
  justify-content: space-between;
}
.modalCardDiv {
  border-bottom: 1px solid black;
}